parameters:
    paths:
        - src
        - tests
    tmpDir: var/cache/ecs
    level: 8
    inferPrivatePropertyTypeFromConstructor: true
includes:
        - vendor/jangregor/phpstan-prophecy/extension.neon
